block vars
	-
		var UTM = '';
		// Для уникальных картинок
		var URL = './i/';
		// Для постоянных картинок
		var URL_tpl = 'http://link.ulmart.ru/custloads/527016013/tpl-i/';
		// Для даты в футере
		var date = "__.10";
		// Чтобы добавить инфо про xxl бонусы
		// var xxl = "Один XXL-бонус равен одному рублю.";

//- TEMPLATE
include ./_js.jade
include ./_mixins.jade

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
	head
		+head
	body
		center.wrapper
			.webkit
				| <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
				+table({"class":"outer", "align":"center"})
					block letter
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
		center.wrapper2
			.webkit
				| <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
				+table({"class": "outer", "align": "center"})
					block letter2
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
		center.wrapper3
			.webkit
				| <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
				+table({"class": "outer", "align": "center"})
					block letter3
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
		center.wrapper
			.webkit
				| <!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
				+table({"class": "outer", "align": "center"})
					block letter4
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->