//- DATA
-
  var goods =
    [
        {
            "number": 1,
            "id": 2000322900000,
            "title": "<b>Говядина тазобедренная</b><br> бескостная, охл., 1 кг.",
            "link": "#",
            "oldPrice": "499,90",
            "price": "249,90",
            "sale": 50,
            "data": "только 5-7 октября",
            "att": "не более 3 кг в одни руки"
        },
        {
            "number": 2,
            "id": 4640001731099,
            "title": "<b>Сыр плавленый Viola</b><br> Valio, 180 г",
            "link": "#",
            "oldPrice": "125,90",
            "price": "69,90",
            "sale": 40
        },
        {
            "number": 3,
            "id": 4607025367420,
            "title": "<b>Фрикадельки мясные</b><br> Atria, 250 г",
            "link": "#",
            "oldPrice": "233,50",
            "price": "139,00",
            "sale": 40
        },
        {
            "number": 4,
            "id": 6416453071117,
            "title": "<b>Конфеты шоколадные</b><br>Karl Fazer/Geisha Fazer, 270 г",
            "link": "#",
            "oldPrice": "479,90",
            "price": "279,90",
            "sale": 40
        },
        {
            "number": 5,
            "id": 4660003862591,
            "title": "<b>Торт Северный мёд</b><br> Север, 1 кг",
            "link": "#",
            "oldPrice": "759,90",
            "price": "379,90",
            "sale": 50
        },
        {
            "number": 6,
            "id": 6415712000486,
            "title": "<b>Изделия макаронные</b><br> спираль, Rainbow, Италия, 500 г",
            "link": "#",
            "oldPrice": "69,90",
            "price": "39,90",
            "sale": 40
        },
        {
            "number": 7,
            "id": 7340011477488,
            "title": "<b>Тунец кусочки</b><br> в собств. соку, Rainbow, 185 г",
            "link": "#",
            "oldPrice": "135,90",
            "price": "79,90",
            "sale": 40
        }
    ]

  var goods2 =
    [
        {},
        {
        "number": 9,
        "id": 4601075330083,
        "title": "Йогурт 2,9 %, Valio, 120 г",
        "link": "#",
        "oldPrice": "39,90",
        "price": "19,90",
        "sale": 50,
        "": ""
        },
        {
        "number": 10,
        "id": 4607025368472,
        "title": "Бекон Pekoni, сырокопчёный, Atria, 150 г",
        "link": "#",
        "oldPrice": "239,00",
        "price": "139,00",
        "sale": 40,
        "": ""
        },
        {
        "number": 11,
        "id": 6411300172184,
        "title": "Кофе Cafe Havana, в зёрнах, Paulig, 400 г",
        "link": "#",
        "oldPrice": "482,50",
        "price": "279,00",
        "sale": 40,
        "": ""
        },
        {
        "number": 12,
        "id": 4600288017620,
        "title": "Чай зелёный/чёрный, в ассортименте, NikTea, 25 пак.",
        "link": "#",
        "oldPrice": "145,20",
        "price": "64,90",
        "sale": 50,
        "": ""
        },
        {
        "number": 13,
        "id": 9000100834575,
        "title": "Гель для стирки, в ассортименте, Persil, 1,46 л",
        "link": "#",
        "oldPrice": "614,90",
        "price": "289,90",
        "sale": 50,
        "": ""
        },
        {
        "number": 14,
        "id": 4604857000013,
        "title": "Бумага туалетная, белая, 3 слоя, Papia, 4 рулона",
        "link": "#",
        "oldPrice": "99,90",
        "price": "59,90",
        "sale": 40,
        "": ""
        }
    ]

  var goods3 =
    [
        {
        "number": 16,
        "id": 200004090001,
        "title": "Манго, 1 шт. Не более 5 шт. в одни руки. Возможна замена.",
        "link": "#",
        "oldPrice": "",
        "price": "",
        "sale": 50,
        "": ""
        },
        {
        "number": 17,
        "id": 4607108095707,
        "title": "Сыр полутвёрдый, Gourmet (Гауда)/Light (Эдам)/Classic (Тильзитер), Atleet, 210 г",
        "link": "#",
        "oldPrice": "199,90",
        "price": "99,90",
        "sale": 50,
        "": ""
        },
        {
        "number": 18,
        "id": 4607025369998,
        "title": "Нарезка сырокопчёная, окорок свиной/шея свиная/филей говяжий, Atria, 70 г",
        "link": "#",
        "oldPrice": "219,00",
        "price": "129,00",
        "sale": 40,
        "": ""
        },
        {
        "number": 19,
        "id": 6411300170630,
        "title": "Кофе Cafe Paris, молотый, Paulig, 200 г",
        "link": "#",
        "oldPrice": "284,90",
        "price": "159,90",
        "sale": 40,
        "": ""
        },
        {
        "number": 20,
        "id": 4601075349436,
        "title": "Сметана, 20%, Большая Кружка, 315 г",
        "link": "#",
        "oldPrice": "74,90",
        "price": "39,90",
        "sale": 40,
        "": ""
        },
        {
        "number": 21,
        "id": 4607022662047,
        "title": "Сыр мягкий, Brie, President, 200 г",
        "link": "#",
        "oldPrice": "441,90",
        "price": "216,90",
        "sale": 50,
        "": ""
        },
        {
        "number": 22,
        "id": 7340011482789,
        "title": "Томаты рубленые, орегано/базилик, X-tra, 400 г",
        "link": "#",
        "oldPrice": "59,90",
        "price": "35,90",
        "sale": 40,
        "": ""
        }
    ]

mixin head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(meta name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="style/style.css")
    style.
        a[x-apple-data-detectors=true] {
         color: inherit !important;
         text-decoration: inherit !important;
        }
        /* Windows Phone Viewport Fix */
        @-ms-viewport {
                width: device-width;
        }

        @media screen and (max-width: 600px) {
            .goods {
                max-width: 285px !important;
            }
        }
        #outlook a
        {
                padding: 0;
        }
        v\:* { behavior: url(#default#VML); display: inline-block; }
    | <!--[if (gte mso 9)|(IE)]><style type="text/css">table {border-collapse: collapse;}</style><![endif]-->



mixin table(attr)
    -
        attr = attr || {}
        attr.width = attr.width || '100%'
    table(cellpadding="0" cellspacing="0" border="0")&attributes(attr)
      block

mixin a(attr)
    - attr = attr || {}
    a(target="_blank")&attributes(attr)
      block

mixin hr()
    tr
        td &nbsp;

mixin btn(attr)
    +table({"class":"btn btn--primary", "width": attr.width || '100%'})
        tr
            td: +a({"href": attr.link}): nobr !{attr.title}

mixin btn2(attr)
    +table({"class":"btn btn--primary", "style":"max-width:360px", "width": attr.width || '100%'})
        tr
            td: +a({"href": attr.link}): nobr !{attr.title}

mixin btnOutline(attr)
    +table({"class":"btn btn--outline", "width": attr.width || '100%'})
        tr
            td: +a({"href": attr.link}): nobr !{attr.title}

mixin header()
    // header
    tr
        td.i-r(align="center" style="padding:8px 0 18px;"  )
            +a({"href":`${addUtm('http://www.ulmart.ru')}`})
                img(src="#{URL_tpl + 'logo' + '.png'}", alt="Ulmart" width="208")
    // ./ header

mixin goodsItemOne(data)
    +table({"class": "goods", "align": "center"})
        each item, number in data.slice(0,1)
            tr
                td.two-column( align="center")
                    | <!--[if (gte mso 9)|(IE)]><table width="582"><tr><td width="190" valign="top"><![endif]-->
                    +table({"class": "column", "style": "max-width:190px;"})
                        tr
                            td.goods__thumb.v-c(align="center" height="172")
                                +a({"href": `${addUtm('http://10.prismamarket.tilda.ws')}`}): img(src="#{URL + item.id + '.png'}"  width="#{item.size || '172'}" height="#{item.size || '172'}")

                    | <!--[if (gte mso 9)|(IE)]></td><td width="410" valign="top"><![endif]-->
                    +table({"class": "column", "style": "max-width:410px;"})
                        tr
                            td(style="padding-left:10px")
                                +table
                                    tr
                                        td(style="padding-top: 30px")
                                            +table
                                                tr
                                                    td
                                                        +table({"width": "170"})
                                                            td.goods__sale(height="24" align="center" style="background-color: #f8d907;border-radius: 15px")
                                                                span(style="color: #000000")  #{item.data}

                                    tr
                                        td
                                            +table
                                                tr
                                                    td( width="200")
                                                        +table
                                                            tr
                                                                td.goods__title(height='50' align="left").v-t
                                                                    div !{item.title}

                                                    td(style="padding: 28px 10px 24px 0")
                                                        +table({"width" : "80"})
                                                            tr
                                                                td.goods__price(align="right")
                                                                    div #{item.oldPrice}
                                                            tr
                                                                td.goods__newPrice(align="right" style="padding-top:5px")
                                                                    div #{item.price}
                    | <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

mixin goodsItem(item)
    // goods
    +table({"class": "goods", "width" : "190", "align": "center"})
        tr
            td.goods__thumb.v-c(align="center" height="172" style="padding-top:15px")
                div(style="line-height:172px !important")
                    +a({"href": `${addUtm('http://10.prismamarket.tilda.ws')}`}): img(src="#{URL + item.id + '.png'}"  width="#{item.size || '172'}" height="#{item.size || '172'}")
        tr
            td(align="center" style="padding: 12px 0 20px")
                +table({"width" : "160", "align": "center"})
                    tr
                        td.goods__title(height='60').v-t
                            div !{item.title}
                    tr
                        td
                            +table
                                tr
                                    td.goods__price(align="right")
                                        if item.id === 4607025369998
                                            div
                                                span(style="font-size:12px") от&nbsp;
                                                | #{item.oldPrice}
                                        else
                                            div #{item.oldPrice}
                                tr
                                    td.goods__newPrice(align="right" style="padding-top:5px")
                                        if item.id === 4607025369998
                                            div
                                                span(style="font-size:12px") от&nbsp;
                                                | #{item.price}
                                        else
                                            div #{item.price}


mixin goodsRow(data)
    +table
        tr
            td.three-column
                | <!--[if (gte mso 9)|(IE)]> <table width="582"> <tr> <![endif]-->
                each item, number in data.slice(1,4)
                    if number === 3
                        | <!--[if (gte mso 9)|(IE)]></tr><tr><![endif]-->
                    | <!--[if (gte mso 9)|(IE)]><td width="33.33%"  valign="top"><![endif]-->
                    +table({"class": "column", "width":"194"})
                        tr
                            td(style="padding-bottom:12px")
                                +goodsItem(item)
                    | <!--[if (gte mso 9)|(IE)]></td><![endif]-->
                | <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->

mixin goodsRow2(data)
    +table
        tr
            td.three-column
                | <!--[if (gte mso 9)|(IE)]> <table width="582"> <tr> <![endif]-->
                each item, number in data.slice(4,7)
                    if number === 3
                        | <!--[if (gte mso 9)|(IE)]></tr><tr><![endif]-->
                    | <!--[if (gte mso 9)|(IE)]><td width="33.33%"  valign="top"><![endif]-->
                    +table({"class": "column", "width": "194"})
                        tr
                            td(style="padding-bottom:12px")
                                +goodsItem(item)
                    | <!--[if (gte mso 9)|(IE)]></td><![endif]-->
                | <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
mixin two
    tr
        td.two-column( align="center")
            | <!--[if (gte mso 9)|(IE)]><table width="600"><tr><td width="50%" valign="top"><![endif]-->
            +table({"class": "column", "style": "max-width:300px;"})
                tr
                    td 1

            | <!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="top"><![endif]-->
            +table({"class": "column", "style": "max-width:300px;"})
                tr
                    td 2
            | <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->


        tr
            td(bgcolor="#fff" style="padding: 35px 10px 70px")
                +table
                    tr
                        td.footer__text
                            div Специальные цены выделены зеленым цветом и действительны по карте PRISMA в указанные для товаров периоды. Цены указаны в рублях с учётом всех скидок. Количество товара ограниченно. Цены без карты действительны на момент формирования рекламы. Внешний вид товаров может отличаться от их изображения.
                    tr
                        td(style="padding-top: 40px")
                            +table
                                tr
                                    td
                                        +a({"href": `${addUtm('http://www.prismamarket.ru')}`})
                                            img(src="#{URL + 'logo' + '.png'}" alt="Prisma")
                                    td(align="right")
                                        +a({"href": `${addUtm('https://vk.com/prisma')}`})
                                            img(src="#{URL + 'ico-vk' + '.png'}" alt="vk")


        tr
            td.fluid
                +goodsRow(goods2)
        tr
            td.fluid
                +goodsRow2(goods2)
        //- =====
        +hr
        //- =====
        tr
            td.fluid
                +goodsRow(goods3)
        tr
            td.fluid
                +goodsRow2(goods3)