extends ./_layout

block letter

    // banner
    tr
        td.i-r(align="center")
            +a({"href":`${addUtm('http://10.prismamarket.tilda.ws')}`})
                img(src="#{URL + 'banner' + '.png'}" alt="Prisma")
    // ./ banner

    tr
        td(align="center" style="padding:35px 5% 50px;")
            | <!--[if (gte mso 9)|(IE)]><table width="460" cellpadding="0" cellspacing="0" border="0"><![endif]-->
            +table({"style":"max-width:460px;"})
                tr
                    td.text__p
                        div PRISMA — уже 10 лет в Петербурге. День рождения надо отмечать с теми, кого любишь, поэтому отмечаем его с вами. В этом письме — праздничные скидки от ваших любимых финских брендов и не только.

            | <!--[if (gte mso 9)|(IE)]></table><![endif]-->

block letter2
    tr
        td.fluid(style="padding-top:15px")
            +goodsItemOne(goods)

block letter3
    tr
        td(align="center" style="padding: 45px 0 10px; color:#000000")
            div 1-10 октября
    tr
        td.text__h1(style="padding:0 0 30px")
            div(style="color:#000")
                | Скидки от финских брендов &nbsp;&nbsp;
                img(src="#{URL + 'ico-flag' + '.png'}" width="40" alt="Finland")
    tr
        td.fluid
            +goodsRow(goods)

    tr
        td(align="center" style="padding:20px 0 40px")
            | <!--[if (gte mso 9)|(IE)]><table width="190" dir="rtl"><tr><td width="100%" valign="top"><![endif]-->
            +btn({
                "link": `${addUtm('http://10.prismamarket.tilda.ws')}`,
                "title": "Больше предложений",
                "width": '190'
            })
            | <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

block letter4
    tr
        td(align="center" style="padding: 45px 0 10px; color:#fff")
            div 1-10 октября
    tr
        td.text__h1(style="padding-bottom:30px")
            div   Ещё больше скидок
    tr
        td.fluid
            +goodsRow2(goods)

    tr
        td(align="center" style="padding:30px 0 ")
            | <!--[if (gte mso 9)|(IE)]><table width="190" dir="rtl"><tr><td width="100%" valign="top"><![endif]-->
            +btn({
                "link": `${addUtm('http://10.prismamarket.tilda.ws')}`,
                "title": "Больше предложений",
                "width": '190'
            })
            | <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

    //- =====
    +hr
    //- =====

    tr
        td(style='padding: 0 3% 25px')
            +table
                tr
                    td(style="border-top: 2px solid #eeebeb;")
                        +table
                            tr
                                td.footer__text(style='padding: 20px 0 45px')
                                    div Специальные цены выделены зелёным цветом и действительны по карте PRISMA в указанные для товаров периоды. Цены указаны в рублях с учётом всех скидок. Количество товара ограниченно. Цены без карты действительны на момент формирования рекламы. Внешний вид товаров может отличаться от их изображения.


                            tr
                                td(align="center")
                                    +a({"href": `${addUtm('http://www.prismamarket.ru')}`})
                                        img(src="#{URL + 'logo' + '.png'}" width="140" alt="Prisma")
                            tr
                                td(align="center" style="padding-top:33px")
                                    +a({"href": `${addUtm('https://vk.com/prisma')}`})
                                        img(src="#{URL + 'ico-vk' + '.png'}" width="42" alt="vk")