/*** VARS ***/
$brand-accent: #30ab80;
$color-text: #25232a;
$ff-base: '-apple-system', 'helvetica', Arial, sans-serif;

/*** END VARS ***/

body {
  min-width: 100%;
  padding: 0;
  background-color: #813589;
  Margin: 0;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

a, div, span {
  font-family: $ff-base;
  line-height: 1.2;
}

img {
  border: 0;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #813589 !important;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}
.wrapper2 {
  width: 100%;
  table-layout: fixed;
  background-color: #fff !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}
.wrapper3 {
  width: 100%;
  table-layout: fixed;
  background-color: #ffc726 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}

.webkit {
  max-width: 600px;
  margin: 0 auto;
}

.outer {
  width: 100%;
  max-width: 600px;
  Margin: 0 auto;
}

.i-r {
  img  {
    display: block;
    max-width: 100%;
    height: auto;
    // margin: 0 auto;
  }
}

/* Two column layout */
.two-column {
  font-size: 0;
  text-align: center;
}

.two-column .column {
  display: inline-table;
  width: 100%;
  max-width: 300px;
  vertical-align: top;
}

/* Three column layout */
.three-column {
  font-size: 0;
  text-align: center;
}

.three-column .column {
  display: inline-table;
  width: 100%;
  max-width: 200px;
  vertical-align: top;
}

.fluid {
  padding-right: 0;
  padding-left: 0;
}

/* BUTTONS STYLE */
.btn {
  text-align: center;

  a {
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }

  td {
    height: 30px;
    vertical-align: middle;
  }

  &--primary {
    background-color: #00953f;
    border-radius: 50px;
    a {
        color: #ffffff;
    }
  }

  &--outline  {
    border: 1px solid #fff;
    border-radius: 50px;
    a {
        color: #fff;
      }
  }
}
/* END BUTTONS STYLE */

/* VALIGN */
.v {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
}

/* Text */
.text {
  &__h1 {
    div {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
  }
  &__p {
    div {
      font-size: 16px;
      text-align: center;
      color: #ffffff;
    }
  }
}

/*********************************
** LETTER
*********************************/

.goods {
  background-color: #fff;

  &__thumb {
  }
  &__sale {
    background-color: #00953f;
    span {
      font-size: 16px;
      color: #fff;
      font-weight: bold;
    }
  }
  &__title {
    div {
      color: #25232a;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__price {
    div {
      font-size: 16px;
      color: #000000;
    }
  }
  &__newPrice {
    div {
      font-size: 21px;
      color: #00953f;
      font-weight: bold;
    }
  }
  &__att {
    div {
      color: #737373;
      font-size: 14px;
    }
  }
}

.footer__text {
  font-size: 13px;
  color: #ffffff;
  text-align: justify;
  line-height: 18px;
}