/*** VARS ***/
/*** END VARS ***/
body {
  min-width: 100%;
  padding: 0;
  background-color: #813589;
  Margin: 0; }

table {
  border-spacing: 0; }

td {
  padding: 0; }

a, div, span {
  font-family: "-apple-system", "helvetica", Arial, sans-serif;
  line-height: 1.2; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #813589 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.wrapper2 {
  width: 100%;
  table-layout: fixed;
  background-color: #fff !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.wrapper3 {
  width: 100%;
  table-layout: fixed;
  background-color: #ffc726 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.outer {
  width: 100%;
  max-width: 600px;
  Margin: 0 auto; }

.i-r img {
  display: block;
  max-width: 100%;
  height: auto; }

/* Two column layout */
.two-column {
  font-size: 0;
  text-align: center; }

.two-column .column {
  display: inline-table;
  width: 100%;
  max-width: 300px;
  vertical-align: top; }

/* Three column layout */
.three-column {
  font-size: 0;
  text-align: center; }

.three-column .column {
  display: inline-table;
  width: 100%;
  max-width: 200px;
  vertical-align: top; }

.fluid {
  padding-right: 0;
  padding-left: 0; }

/* BUTTONS STYLE */
.btn {
  text-align: center; }
  .btn a {
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    display: block; }
  .btn td {
    height: 30px;
    vertical-align: middle; }
  .btn--primary {
    background-color: #00953f;
    border-radius: 50px; }
    .btn--primary a {
      color: #ffffff; }
  .btn--outline {
    border: 1px solid #fff;
    border-radius: 50px; }
    .btn--outline a {
      color: #fff; }

/* END BUTTONS STYLE */
/* VALIGN */
.v-t {
  vertical-align: top; }

.v-m {
  vertical-align: middle; }

.v-b {
  vertical-align: bottom; }

/* Text */
.text__h1 div {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff; }

.text__p div {
  font-size: 16px;
  text-align: center;
  color: #ffffff; }

/*********************************
** LETTER
*********************************/
.goods {
  background-color: #fff; }
  .goods__sale {
    background-color: #00953f; }
    .goods__sale span {
      font-size: 16px;
      color: #fff;
      font-weight: bold; }
  .goods__title div {
    color: #25232a;
    font-size: 14px;
    line-height: 18px; }
  .goods__price div {
    font-size: 16px;
    color: #000000; }
  .goods__newPrice div {
    font-size: 21px;
    color: #00953f;
    font-weight: bold; }
  .goods__att div {
    color: #737373;
    font-size: 14px; }

.footer__text {
  font-size: 13px;
  color: #ffffff;
  text-align: justify;
  line-height: 18px; }
