<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta meta="meta" name="format-detection" content="telephone=no">
    
    <style>
      a[x-apple-data-detectors=true] {
       color: inherit !important;
       text-decoration: inherit !important;
      }
      /* Windows Phone Viewport Fix */
      @-ms-viewport {
              width: device-width;
      }
      #outlook a
      {
              padding: 0;
      }
      v\:* { behavior: url(#default#VML); display: inline-block; }
    </style><!--[if (gte mso 9)|(IE)]><style type="text/css">table {border-collapse: collapse;}</style><![endif]-->
  </head>
  <body style="Margin: 0; background-color: #ffffff; min-width: 100%; padding: 0;">
    <center class="wrapper" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #ffffff !important; table-layout: fixed; width: 100%;">
      <div class="webkit" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2; margin: 0 auto; max-width: 600px;"><!--[if (gte mso 9)|(IE)]><table width="600" align="center"><tr><td><![endif]-->
        <table cellpadding="0" cellspacing="0" border="0" class="outer" align="center" width="100%" style="Margin: 0 auto; border-spacing: 0; max-width: 600px; width: 100%;">
          <tr>
            <td style="padding: 8px 3px 5px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                <tr>
                  <td align="left" class="header__snippet" style="padding: 0;">
                    <div style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 11px; line-height: 1.2;">Не пропустите всё самое интересное!</div>
                  </td>
                  <td align="right" class="header__web" style="padding: 0;"><a target="_blank" href="{{WebLetterUrl}}" style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 11px; line-height: 1.2; text-decoration: underline;">Посмотреть в браузере</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0;">
              <table cellpadding="0" cellspacing="0" border="0" class="banner__bg" bgcolor="#fadae4" width="100%" style="background: #fadae4 url(./i/banner__bg.jpg); background-repeat: repeat; border-spacing: 0;">
                <tr>
                  <td class="i-r" style="padding: 0;"><a target="_blank" href="https://joybyjoy.ru/" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/banner__top.jpg" alt="Joy by Joy" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                      <tr>
                        <td style="padding: 0 24px 24px;">
                          <table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" width="100%" style="border-spacing: 0;">
                            <tr>
                              <td align="center" style="padding: 0 25px;"><!--[if (gte mso 9)|(IE)]><table width="310"><![endif]-->
                                <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 310px;" width="100%">
                                  <tr>
                                    <td height="20" class="banner__hr" style="border-bottom: 1px solid #111111; padding: 0;">
                                      <div style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; height: 20px; line-height: 1.2;">&nbsp;</div>
                                    </td>
                                  </tr>
                                </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="banner__h1" style="padding: 0; padding-bottom: 8px; padding-top: 18px;">
                                <div style="color: #020000; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 20px; line-height: 1.2;">Здравствуйте, {user_name}!</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="banner__p" style="padding: 0 20px 18px;">
                                <div style="color: #020000; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; line-height: 22px;">В преддверии нового месяца, мы собрали для Вас всё самое интересное, что произошло на JOY BY JOY {month}!</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding: 0 25px;"><!--[if (gte mso 9)|(IE)]><table width="310"><![endif]-->
                                <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 310px;" width="100%">
                                  <tr>
                                    <td style="border-top: 1px solid #111111; padding: 0;" height="20">
                                      <div style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; height: 20px; line-height: 1.2;">&nbsp; &nbsp;</div>
                                    </td>
                                  </tr>
                                </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0; padding-top: 15px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="padding: 0; padding-bottom: 55px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                <tr>
                  <td class="i-r" style="padding: 0;">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/banner__1.jpg" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 4% 0;" class="text__p">
                    <div style="color: #010002; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; line-height: 22px; text-align: left;">Relouis (Релуи) – это белорусская косметическая компания, однако корни ее идеологии и используемые компоненты относятся к европейскому континенту. Отдельного внимания заслуживает декоративная линейка,</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" style="border-top: 1px solid #272727; padding: 0; padding-bottom: 20px;" class="hr">
              <table cellpadding="0" cellspacing="0" border="0" width="212" style="border-spacing: 0; border-top: 2px solid #272727;">
                <tr>
                  <td style="padding: 0; padding-top: 20px;" align="center">
                    <div style="color: #272727; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">Находки этой недели</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 5px 16px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                <tr>
                  <td align="center" style="border: 3px solid #aad3ec; font-size: 0; padding: 0; text-align: center;" class="two-column"><!--[if (gte mso 9)|(IE)]><table width="590"><tr><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0 25px;" class="i-r"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/goods__1.jpg" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0; padding-top: 25px;" align="center">
                          <table cellpadding="0" cellspacing="0" border="0" width="250" style="border-spacing: 0;">
                            <tr>
                              <td align="right" class="goods__new" style="padding: 0;"><span style="-moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #272727; border: 5px solid #272727; border-radius: 3px; color: #ffffff; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 10px; line-height: 1.2; text-transform: uppercase;">Новинка</span></td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__brand" style="padding: 0; padding-top: 12px;">
                                <div style="color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">Gucci</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__title" style="padding: 4px 0 9px;">
                                <div style="color: #000000; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 18px; line-height: 22px;">Туалетная вода Yellow Diamond 30 мл</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__p" style="padding: 0;">
                                <div style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 15px; line-height: 18px;">Любви к жизни, к тому, что вас окружает. Это аромат радости, куража и нежной женственности.</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding: 13px 0 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" class="btn btn--outline" width="155" style="border: 1px solid #272727; border-spacing: 0; text-align: center;">
                                  <tr>
                                    <td style="height: 40px; padding: 0; vertical-align: middle;"><a target="_blank" href="#" style="color: #272727; display: block; font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase;">
                                        <nobr>смотреть</nobr></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 5px 16px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                <tr>
                  <td align="center" style="border: 3px solid #f8c2da; font-size: 0; padding: 0; text-align: center;" dir="rtl" class="two-column"><!--[if (gte mso 9)|(IE)]><table width="590"><tr><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0 25px;" dir="ltr" class="i-r"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/goods__2.jpg" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0; padding-top: 25px;" align="center" dir="ltr">
                          <table cellpadding="0" cellspacing="0" border="0" width="250" style="border-spacing: 0;">
                            <tr>
                              <td align="right" class="goods__new" style="padding: 0;"><span style="-moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #272727; border: 5px solid #272727; border-radius: 3px; color: #ffffff; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 10px; line-height: 1.2; text-transform: uppercase;">Новинка</span></td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__brand" style="padding: 0; padding-top: 12px;">
                                <div style="color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">Gucci</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__title" style="padding: 4px 0 9px;">
                                <div style="color: #000000; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 18px; line-height: 22px;">Туалетная вода Yellow Diamond 30 мл</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__p" style="padding: 0;">
                                <div style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 15px; line-height: 18px;">Любви к жизни, к тому, что вас окружает. Это аромат радости, куража и нежной женственности.</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding: 13px 0 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" class="btn btn--outline" width="155" style="border: 1px solid #272727; border-spacing: 0; text-align: center;">
                                  <tr>
                                    <td style="height: 40px; padding: 0; vertical-align: middle;"><a target="_blank" href="#" style="color: #272727; display: block; font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase;">
                                        <nobr>смотреть</nobr></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 5px 16px;">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                <tr>
                  <td align="center" style="border: 3px solid #aad3ec; font-size: 0; padding: 0; text-align: center;" class="two-column"><!--[if (gte mso 9)|(IE)]><table width="590"><tr><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0 25px;" class="i-r"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/goods__3.jpg" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td><td width="50%" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 292px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0; padding-top: 25px;" align="center">
                          <table cellpadding="0" cellspacing="0" border="0" width="250" style="border-spacing: 0;">
                            <tr>
                              <td align="right" class="goods__new" style="padding: 0;"><span style="-moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #272727; border: 5px solid #272727; border-radius: 3px; color: #ffffff; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 10px; line-height: 1.2; text-transform: uppercase;">Новинка</span></td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__brand" style="padding: 0; padding-top: 12px;">
                                <div style="color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">Gucci</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__title" style="padding: 4px 0 9px;">
                                <div style="color: #000000; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 18px; line-height: 22px;">Туалетная вода Yellow Diamond 30 мл</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" class="goods__p" style="padding: 0;">
                                <div style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 15px; line-height: 18px;">Любви к жизни, к тому, что вас окружает. Это аромат радости, куража и нежной женственности.</div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="padding: 13px 0 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" class="btn btn--outline" width="155" style="border: 1px solid #272727; border-spacing: 0; text-align: center;">
                                  <tr>
                                    <td style="height: 40px; padding: 0; vertical-align: middle;"><a target="_blank" href="#" style="color: #272727; display: block; font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase;">
                                        <nobr>смотреть</nobr></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="i-r" style="padding: 0;"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/goods__more.jpg" alt="Joy by Joy" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 7% 50px;" align="center"><!--[if (gte mso 9)|(IE)]><table width="210" dir="rtl"><tr><td width="100%" valign="top"><![endif]-->
              <table cellpadding="0" cellspacing="0" border="0" class="btn btn--outline" width="210" style="border: 1px solid #272727; border-spacing: 0; text-align: center;">
                <tr>
                  <td style="height: 40px; padding: 0; vertical-align: middle;"><a target="_blank" href="https://joybyjoy.ru/women-catalog/" style="color: #272727; display: block; font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase;">
                      <nobr>смотреть ЕЩЁ</nobr></a>
                  </td>
                </tr>
              </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
            </td>
          </tr>
          <tr>
            <td align="center" style="border-top: 1px solid #272727; padding: 0; padding-bottom: 20px;" class="hr">
              <table cellpadding="0" cellspacing="0" border="0" width="75" style="border-spacing: 0; border-top: 2px solid #272727;">
                <tr>
                  <td style="padding: 0; padding-top: 20px;" align="center">
                    <div style="color: #272727; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">статьи</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="i-r" style="padding: 0;"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/news__1.jpg" alt="Выбираем макияж, образ, причёску" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px 30px 35px;" class="video__text">
              <div style="color: #010001; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">Наконец-то, джойки, мы вышли в предновогоднюю гонку: выбор&nbsp;подарков и нарядов, закупка продуктов, украшений</div>
            </td>
          </tr>
          <tr>
            <td class="i-r" style="padding: 0;"><a target="_blank" href="#" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/news__2.jpg" alt="Выбираем макияж, образ, причёску" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px 30px 35px;" class="video__text">
              <div style="color: #010001; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">Наконец-то, джойки, мы вышли в предновогоднюю гонку: выбор&nbsp;подарков и нарядов, закупка продуктов, украшений</div>
            </td>
          </tr>
          <tr>
            <td align="center" style="border-top: 1px solid #272727; padding: 0; padding-bottom: 20px;" class="hr">
              <table cellpadding="0" cellspacing="0" border="0" width="75" style="border-spacing: 0; border-top: 2px solid #272727;">
                <tr>
                  <td style="padding: 0; padding-top: 20px;" align="center">
                    <div style="color: #272727; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">видео</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="i-r" style="padding: 0;"><a target="_blank" href="https://joybyjoy.ru/blog/video/" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/video.jpg" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
            </td>
          </tr>
          <tr>
            <td class="video__text" style="padding: 20px 30px 30px;">
              <div style="color: #010001; font-family: '-apple-system', 'helvetica', Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: justify;">Наконец-то, джойки, мы вышли в предновогоднюю гонку: выбор&nbsp;подарков и нарядов, закупка продуктов, украшений</div>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 5% 40px;" align="center"><!--[if (gte mso 9)|(IE)]><table width="290" dir="rtl"><tr><td width="100%" valign="top"><![endif]-->
              <table cellpadding="0" cellspacing="0" border="0" class="btn btn--outline" width="290" style="border: 1px solid #272727; border-spacing: 0; text-align: center;">
                <tr>
                  <td style="height: 40px; padding: 0; vertical-align: middle;"><a target="_blank" href="https://joybyjoy.ru/blog/video/" style="color: #272727; display: block; font-family: Verdana, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase;">
                      <nobr>смотреть все видео</nobr></a>
                  </td>
                </tr>
              </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
            </td>
          </tr>
          <tr>
            <td bgcolor="#fbf5f9" style="padding: 0;">
              <table cellpadding="0" cellspacing="0" border="0" class="footer__bg" bgcolor="#fbf5f9" width="100%" style="background: #fbf5f9 url(./i/footer__bg.jpg); background-repeat: repeat; border-spacing: 0;">
                <tr>
                  <td align="center" class="two-column" style="font-size: 0; padding: 0; text-align: center;"><!--[if (gte mso 9)|(IE)]><table width="600" cellpadding="0" cellspacing="0" border="0"><tr><td width="215" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 215px; vertical-align: top; width: 100%;" align="left" width="100%">
                      <tr>
                        <td align="left" class="i-r" style="padding: 0;"><img src="./i/social__mob.png" alt="" style="border: 0; display: block; height: auto; max-width: 100%;"></td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td><td width="385" valign="top"><![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 385px; vertical-align: top; width: 100%;" width="100%">
                      <tr>
                        <td style="padding: 0;">
                          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                            <tr>
                              <td style="padding: 0; padding-top: 65px;" class="social__text">
                                <div style="color: #020000; font-family: Verdana, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.2; text-transform: uppercase;">Присоединяйтесь к нам!</div>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding: 0; padding-bottom: 15px; padding-top: 60px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                                  <tr>
                                    <td align="left" style="padding: 0; padding-left: 10px;" width="23%" class="footer__ico"><!--[if (gte mso 9)|(IE)]><table width="80"><![endif]-->
                                      <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 80px;" width="100%">
                                        <tr>
                                          <td style="padding: 0;"><a target="_blank" href="https://vk.com/joybyjoy" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/ico-vk.png" alt="vk" style="border: 0;"></a>
                                          </td>
                                        </tr>
                                      </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                                    </td>
                                    <td align="left" width="19%" class="footer__ico" style="padding: 0;"><!--[if (gte mso 9)|(IE)]><table width="75"><![endif]-->
                                      <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 75px;" width="100%">
                                        <tr>
                                          <td style="padding: 0;"><a target="_blank" href="https://www.facebook.com/joybyjoy.ru" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/ico-fb.png" alt="fb" style="border: 0;"></a>
                                          </td>
                                        </tr>
                                      </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                                    </td>
                                    <td align="left" width="21%" class="footer__ico" style="padding: 0;"><!--[if (gte mso 9)|(IE)]><table width="80"><![endif]-->
                                      <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 80px;" width="100%">
                                        <tr>
                                          <td style="padding: 0;"><a target="_blank" href="https://www.instagram.com/joybyjoy.ru/" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/ico-inst.png" alt="inst" style="border: 0;"></a>
                                          </td>
                                        </tr>
                                      </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                                    </td>
                                    <td align="left" width="22%" class="footer__ico" style="padding: 0;"><!--[if (gte mso 9)|(IE)]><table width="85"><![endif]-->
                                      <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 85px;" width="100%">
                                        <tr>
                                          <td style="padding: 0;"><a target="_blank" href="https://www.youtube.com/channel/UCO4V-3UW4uqdxwBn_OBG4xg" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/ico-youtube.png" alt="youtube" style="border: 0;"></a>
                                          </td>
                                        </tr>
                                      </table><!--[if (gte mso 9)|(IE)]></table><![endif]-->
                                    </td>
                                    <td align="left" style="padding: 0; padding-right: 10px;" class="footer__ico"><a target="_blank" href="https://t.me/joybyjoy_ru" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/ico-tg.png" alt="tg" style="border: 0;"></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 0 25px 0;">
                    <table cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; max-width: 550px;" width="100%">
                      <tr>
                        <td style="padding: 0;">
                          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0;">
                            <tr>
                              <td align="left" class="y_m--text" style="padding: 0;">
                                <div style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 14px; line-height: 18px;">Нравится магазин?<br>Оцените на Яндекс Маркете!</div>
                              </td>
                              <td align="right" style="padding: 0; padding-left: 5px;" class="i-r"><a target="_blank" href="https://market.yandex.ru/shop/384529/reviews?sort_by=grade" style="font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"><img src="./i/y_market.png" alt="Яндекс маркет" style="border: 0; display: block; height: auto; max-width: 100%;"></a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="font-size: 0; padding: 0; padding-top: 30px; text-align: center;" class="two-column"><!--[if (gte mso 9)|(IE)]><table width="550" cellpadding="0" cellspacing="0" border="0"><tr><td width="275" valign="top"><![endif]-->
                          <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 275px; vertical-align: top; width: 100%;" align="left" width="100%">
                            <tr>
                              <td align="left" style="padding: 0; padding-bottom: 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="230" style="border-spacing: 0;">
                                  <tr>
                                    <td align="left" class="call__text" style="padding: 0;">
                                      <div style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 18px;">Нужна консультация? Звоните!</div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="padding: 0; padding-bottom: 5px; padding-top: 16px;" class="call__tel"><a target="_blank" href="tel:+78126761399" style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 15px; font-weight: bold; line-height: 1.2; text-decoration: none;">+7 (812) 676-13-99</a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="call__mail" style="padding: 0;"><a target="_blank" href="mailto:help@joybyjoy.ru" style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 14px; line-height: 1.2; text-decoration: none;"><img src="./i/ico-mail.png" alt="" style="border: 0;">  help@joybyjoy.ru</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table><!--[if (gte mso 9)|(IE)]></td><td width="275" valign="top"><![endif]-->
                          <table cellpadding="0" cellspacing="0" border="0" class="column" style="border-spacing: 0; display: inline-table; max-width: 275px; vertical-align: top; width: 100%;" align="right" width="100%">
                            <tr>
                              <td align="right" style="padding: 0; padding-bottom: 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="240" style="border-spacing: 0;">
                                  <tr>
                                    <td align="right" class="footer__unsb" style="padding: 0;">
                                      <div style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 11px; line-height: 18px;">Если вы больше не хотите получать письма от нашего магазина, вы можете<a target="_blank" href="{{UnsubscribeUrl}}" style="color: #58595b; font-family: '-apple-system', 'helvetica', Arial, sans-serif; line-height: 1.2;"> Отписаться</a>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right" style="padding: 0; padding-top: 8px;" class="footer__unsb">
                                      <div style="color: #58595b; font-family: Verdana, Arial, sans-serif; font-size: 11px; line-height: 18px;">© 2018 Joy By Joy. Все права защищены.</div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table><!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
      </div>
    </center>
  </body>
</html>